<body ng-controller="MainCtrl">

<div class = "container-fluid">
  <div class="row">
    <div class="col-xs-1 sidebar" >
      <div class="fake-link" ng-click='loadGame("splendor")'> SPLENDOR </div>
    </div>
    <div class="col-xs-11 main">
      <div id="inputline" >
        ~~randomID%$
        How do we play
        <input type="text" placeholder="[game]" style="position: relative; vertical-align: top; ">
      </div>
      <div ng-if="selectedGame != ''" ng-include="selectedGameURL"></div>
    </div>
  </div>
</div>
<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</body>